
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body{
    background: rgb(168, 120, 120);
    font-family: "Roboto", sans-serif;
}
.issues-form{
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    width: 50%;
    
}

label.form-label{
    font-weight: bold;
}
input:focus{
    outline: none !important;
    border: none;
}

table{
    width: 80% !important;
    margin: 0 auto;
    background: #fff;
}

.details-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    

}